<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h2><a th:href="@{/admin/list-customer}">Back to Customer List</a></h2>
<form action="#" th:action="@{/admin/save-customer}" th:object="${customers}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{customerName}"></td>
            <td th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">NameError</td>
<!--            <td th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" >yyy</td>-->
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{customerPhone}"></td>
            <td th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" ></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{customerEmail}"></td>
            <td th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" ></td>
        </tr>

        <tr>
            <td><button type="submit">Create</button></td>
        </tr>
    </table>
</form>
</body>
</html>