<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Payment</title>
</head>
<body>
<h3><a href="/admin/list-payment">Back to List Payment</a></h3>
<h2>Are your sure?</h2>
<form th:object="${payments}" th:action="@{/admin/remove-payment}" method="post">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{paymentId}"></td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td><a th:text="${payments.getPaymentCode()}"></a></td>
        </tr>
        <tr>
            <td><b>Status:</b></td>
            <td><a th:text="${payments.getPaymentStatus()}"></a></td>
        </tr>

        <tr>
            <td><button type="submit">Yes</button></td>
            <td><input type="button" value="No" onclick="window.location.href='/admin/list-payment' " /></td>
        </tr>
    </table>
</form>

</body>
</html>