<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WELCOME PAGE MANAGEMENT</h1>
<form>
    <table>
        <tr>
            <td><input type="button" value="Producer" onclick="window.location.href='admin/list-producer' " /></td>
            <td><input type="button" value="Mobile-Type" onclick="window.location.href='/admin/list-mobileType' " /></td>
            <td><input type="button" value="Mobile phone" onclick="window.location.href='/admin/list-mobile' " /></td>
            <td><input type="button" value="Employee" onclick="window.location.href='/admin/list-employee' " /></td>
            <td><input type="button" value="Payment" onclick="window.location.href='/admin/list-payment' " /></td>
            <td><input type="button" value="Bill" onclick="window.location.href='/admin/list-bill' " /></td>
            <td><input type="button" value="Bill Detail" onclick="window.location.href='/admin/list-billDetail' " /></td>
            <td><input type="button" value="Customer" onclick="window.location.href='/admin/list-customer' " /></td>


        </tr>
    </table>
</form>

</body>
</html>